@import url('header.css');
@import url('main.css');
@import url('footer.css');
@import url('aside.css');

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.contenedor {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
